.job {
    padding: 1rem;
    border-radius: .3rem;
    background-color: white;
}

.job-industry h2 {
    text-transform: uppercase;
    font-size: .8rem;
    color: var(--assent-color);
    font-weight: 500;
}

.job-title {
    padding-block: .8rem;
}

.job-tags {
    padding-bottom: 1.5rem;
}

.job-tags,
.job-tags div {
    display: flex;
}

.job-tags div {
    margin-right: .5rem;
}

.job-tags div p {
    padding-left: .3rem;
}

.job-buttons {
    margin-bottom: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.job-buttons button {
    cursor: pointer;
}

.job-buttons-details {
    background-color: var(--secondary-fade-color);
    border: 1px solid var(--secondary-fade-color);
    font-size: 1rem;
    height: 46px;
    border-radius: .3rem;
    padding-inline: .5rem;
    color: var(--assent-color);
    font-weight: 600;
}

.job-buttons-save {
    cursor: pointer;
    border-radius: .3rem;
    height: 46px;
    width: 46px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid var(--input-border-color);
}

.job-posted p {
    padding-top: 1rem;
    color: var(--text-fade-color);
    font-size: .8rem;
}

@media (max-width:568px) {
    .job-tags {
        display: flex;
        flex-direction: column;
    }
}

@media (min-width:568px) {
    .job-tags {
        align-items: center;
    }
}