.main-job {
    margin-inline: auto;
    background-color: var(--secondary-color);
}

.main-job-container {
    padding-block: 2rem;
    width: 95%;
    max-width: 1200px;
    margin-inline: auto;
    display: grid;
    grid-gap: 1rem;
}

.main-job-apply,
.main-job-overview,
.main-job-main {
    background-color: white;
    border-radius: .3rem;
    padding: 2rem;
}

.main-job-overview h1 {
    padding-bottom: 2rem;
}

.main-job-overview article {
    display: flex;
}

.main-job-overview div {
    margin-bottom: .5rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: var(--assent-color);
    background-color: var(--secondary-color);
    border-radius: .5rem;
}

.main-job-overview article aside {
    padding-left: .5rem;
}

.main-job-apply button {
    width: 100%;
    height: 54px;
    background-color: var(--assent-color);
    border: 1px solid var(--assent-color);
    cursor: pointer;
    color: white;
    cursor: pointer;
    border-radius: .3rem;
    font-size: 1rem;
    font-weight: 500;
}

@media (min-width:1000px) {
    .main-job-container {
        grid-template-columns: 1fr 300px;
        grid-template-rows: 120px 350px 1fr;
    }
    .main-job-apply {
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .main-job-overview {
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .main-job-main {
        grid-column: 1/2;
        grid-row: 1/4;
    }
}

.main-job-form,
.main-job-form-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    position: fixed;
}

.main-job-form-overlay {
    background-image: linear-gradient(hsla(0, 0%, 0%, .6), hsla(0, 0%, 0%, .6));
}

.main-job-form-form {
    border-radius: .3rem;
    padding: 1rem;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: 1400;
    background-color: white;
    width: 95%;
    max-width: 500px;
    margin-inline: auto;
}

.main-job-form-form label {
    display: block;
    padding-bottom: .5rem;
}

.main-job-form-form input {
    width: 100%;
    border: 1px solid var(--input-border-color);
    padding: 1rem;
    border-radius: .3rem;
}

.main-job-form-form button {
    margin-top: 1rem;
    width: 100%;
    height: 50px;
    border-radius: .3rem;
    background-color: var(--assent-color);
    border: 1px solid var(--assent-color);
    transition: .3s;
    cursor: pointer;
    color: white;
    font-size: 1rem;
    font-weight: 500;
}

.main-job-form-form button:hover {
    background-color: var(--assent-fade-color);
    border: 1px solid var(--assent-fade-color);
    transition: .3s;
}

.main-job-form-form-title h1 {
    padding-bottom: 2rem;
    text-align: center;
}