.footer {
    background-color: var(--assent-color);
    color: white;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container svg {
    margin-left: .5rem;
    margin-top: .2rem;
}